.block {
    border: 1px solid var(--mainLine);
    height: 100vh;
}

.view-area li {
    list-style: none;
}

.component-item {
    border: 1px solid var(--mainLine);
    padding: 10px 0;
    margin: 2px 5px;
    border-radius: 18px;
    z-index: 100;
    position: relative;
}